.barButton {
	border: 0 !important;
	border-radius: 0 !important;
	padding: 0 !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
	margin-inline: 10px !important;
	color: rgb(0, 93, 222);
	text-transform: none !important;
	transition: all 0.2s ease-in-out;
}
.barButtonSelected{
	border-bottom: 2px solid rgb(0, 93, 222) !important;
	transition: all 0.2s ease-in-out;
	animation: slideInFromLeft 0.2s ease-in-out;
}
/* animation */
@keyframes slideInFromLeft {
	0% {
		transform: scale(0.8);
	}
	100% {
		transform: scale(1);
	}
}
