.barButton {
	border: 0 !important;
	border-radius: 0 !important;
	padding: 0 !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
	margin-inline: 10px !important;
	color: rgb(0, 93, 222);
	text-transform: none !important;
	transition: all 0.2s ease-in-out;
}
.barButtonSelected{
	border-bottom: 2px solid rgb(0, 93, 222) !important;
	transition: all 0.2s ease-in-out;
}
.infoCards:hover{
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
	transition: all 0.2s ease-in-out;
}