.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 20vw;
	height: 100%;
	background: rgb(230, 231, 238);
	color: rgb(0, 0, 0);
	transition: all 0.3s;
	z-index: 1;
}
.centerAlign {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar__title {
	padding: 20px;
	text-align: center;
}
.sidebar__list {
  padding: 20px;
  padding-bottom: 0px;
}
.sidebar_icon {
  filter: drop-shadow(0 0 20px rgba(0,0,0,0.7));
}
.sidebar_header {
	text-shadow: 0 0 30px rgba(0, 0, 0, 1);
	font-family: "Inspiration", cursive !important;
	font-size: 3.5rem !important;
}
.menuItem {
	color: rgb(120, 120, 120);
}
.menuItem:hover {
  cursor: pointer;
}
.menuIcon{
  filter: drop-shadow(0 0 8px rgba(0,0,0,0.5));
}
